// Font
$font-family: "Eightbit Atari" !default;
$font-size: 16px !default;

$base-color: $color-black !default;
$background-color: $color-white !default;

$cursor-url: url(get-file-as-data-uri("../assets/gauntlet.png")) !default;
$cursor-click-url: $cursor-url; // url(get-file-as-data-uri("../assets/cursor-click.png")) 14 0 !default;

$border-size: 4px !default;

$default-colors: (
  normal: $background-color,
  hover: #e7e7e7,
  shadow: #adafbc
) !default;
$disabled-colors: (
  normal: #d3d3d3,
  shadow: #adafbc
) !default;
$primary-colors: (
  normal: #599eff,
  hover: #488dee,
  shadow: #1b61c1
) !default;
$success-colors: (
  normal: #91e734,
  hover: #80d624,
  shadow: #439900
) !default;
$warning-colors: (
  normal: #efd043,
  hover: #dfc033,
  shadow: #a98a00
) !default;
$error-colors: (
  normal: #e07b51,
  hover: #cf6a40,
  shadow: #a23e13
) !default;
